
/* NAVBAR SETTINGS  */
.navbar {       
    display: flex; align-items: center; justify-content: space-between;
    position: fixed; top: 0; right: 0; left: 250px; z-index: 1;
    height: 50px; padding: 0 30px;
    background: #fff; box-shadow: 3px 1px 5px #bdbcbc;   
}
.navbar .path , .navbar .path a {
    font-size: 14px; font-style: italic;
    color: #7d7d7d;    
}
.navbar .path a:hover { color: #039BE5; }
.navbar .user {
    display: flex; align-items: center; justify-content: center;
    min-width: 35px; min-height: 35px;
    background: #7fff00; border-radius: 50%;
    font-size: 12px; font-weight: 500;
    color: #478e00;
}